@import url("https://fonts.googleapis.com/css2?familyPoppins&display=swap");
    	*{margin:0;
		padding: 0;
	}
 
    	body{
    		 background :url("https://media.istockphoto.com/photos/white-studio-background-picture-id1040250650?k=6&m=1040250650&s=612x612&w=0&h=Ve0znmMwCbVyo66uIfeSrSYRuHau85oBiVIv1OplATs=") no-repeat;
    		 background-size:cover;
    		 height:100vh;
    		 background-position: left;
             padding:50;
             font-family:sans-serif;
             background-repeat:no-repeat center center fixed;
             background-size:cover;
           
    		 
    	}

    	.header{
    		width:100%;
    		background-color:rgb(155, 235, 131);
    		height:13%;

    	}
    	.header ul{
    		text-align: center;
    	}
        .header ul li{
        	list-style: none;
        	display: inline-block;
        }

        .header ul li a{
        	display: block;
        	text-decoration: none;
        	text-transform: uppercase;
        	color:#fff;
        	font-size: 20px;
        	font-family: 'Raleway',sans-serif;
        	letter-spacing: 2px;
        	font-weight: 600;
        	padding: 25px;
        	transition: all ease 0.5s;
        }

        .header ul li a:hover{
        	background-color: green;
        }
      .center {
              
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 40%;
            width: 50%;
             padding-left: 470px;
            padding-right: 45px;
             padding-bottom: 25px;
             padding-top: 50px;
         }
    .promo-title{
		font-size: 40px;
		font-weight:600;
		margin-top:70px;
	}

	  .btn-primary{
		  box-shadow:none blue;
		  padding: 8px 25px;
		  border-radius:2px  yellow;
		  border:2px solid #3c3640;
		  color:blue;
		  background:none ;
	  }
   
